<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- connects to your css file -->
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h1>
    WELCOME TO YOUR CALORIE CALCULATOR APP
</h1>
<p>
    This app calculates your daily calorie needs <br>
    So what You're waiting for
    <br>
    <a href={{url_for('calorie_calculator_page')}}> Click this link to Proceed</a>
            <!-- url_for(name) given in as_view() in view_func of add_to_rule -->
</p>
</body>
</html>